<% content_for :title, "#{@customer.name} - Customer" %>

<div id="customer_360_flash" class="customer-360-flash-wrap" aria-live="polite">
  <% if flash[:notice].present? %>
    <%= render "admin/customers/flash_message", type: :notice, message: flash[:notice] %>
  <% end %>
</div>

<%= render "admin/customers/header", customer: @customer, attendees: @attendees %>

<div class="customer-360-layout">
  <div class="customer-360-main">
    <div id="customer_billing_tax_info">
      <%= render "admin/customers/billing_tax_info", customer: @customer, attendees: @attendees %>
    </div>
    <%= turbo_frame_tag "customer_class_history" do %>
      <%= render "admin/customers/class_history", customer: @customer, attendees: @attendees, class_history_items: @class_history_items, total_class_count: @attendees_attendees&.count %>
    <% end %>
    <%= turbo_frame_tag "customer_documents" do %>
      <%= render "admin/customers/documents_payments", document_rows: @document_rows %>
    <% end %>
    <%= turbo_frame_tag "customer_timeline" do %>
      <%= render "admin/customers/activity_timeline", timeline_events: @timeline_events %>
    <% end %>
  </div>
  <aside class="customer-360-aside">
    <div id="customer_snapshot">
      <%= render "admin/customers/snapshot", customer: @customer, attendees: @attendees %>
    </div>
  </aside>
</div>
