<%
  title = local_assigns[:title]
  icon = local_assigns[:icon]
  header_action = local_assigns[:header_action]
  accent_left = local_assigns[:accent_left] != false
  card_css = ["card"]
  card_css << "card--accent-left" if accent_left
  card_css << local_assigns[:extra_class] if local_assigns[:extra_class].present?
%>
<div class="<%= card_css.join(' ') %>">
  <% if title.present? || header_action.present? %>
    <div class="card__header">
      <% if title.present? %>
        <h3 class="card__title">
          <% if icon.present? %><i class="bi bi-<%= icon %>" aria-hidden="true"></i><% end %>
          <%= title %>
        </h3>
      <% end %>
      <% if header_action.present? %>
        <div class="card__actions"><%= header_action %></div>
      <% end %>
    </div>
  <% end %>
  <div class="card__body">
    <%= yield %>
  </div>
</div>
